<a href="https://colab.research.google.com/github/subramanianAnjanaSubramaniam/Python_programs/blob/main/Oct9python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #Even_printing
a=int(input("Enter the number :"))
if(a%2)==0:
  print("even number")
else:
  print("odd number")

Enter the number :5
odd number

In [ ]:
#largest_printing
a=int(input("enter the num1 :"))
b=int(input("enter the num2 :"))
c=int(input("enter the num3 :"))
if(a>=b)and(a>=c):
  largest=a
elif(b>=a)and(b>=c):
  largest=b
else:
  largest=c
print("the largest number is", largest)

In [ ]:
#Grade_printing
a=str(input("Enter the name :"))
m1=float(input("Enter the English mark :"))
m2=float(input("Enter the Maths mark :"))
m3=float(input("Enter the Physics mark :"))
m4=float(input("Enter the Chemistry mark :"))
m5=float(input("Enter the  Biology mark :"))
sum=m1+m2+m3+m4+m5
print("Total mark is :", sum)
avg=sum/5
print("The avg mark is", avg)
if(avg>=90):
  print("Grade=S")
elif(avg>=80)and(avg<90):
    print("Grade=A")
elif(avg>=70)and(avg<80):
    print("Grade=B")
elif(avg>=60)and(avg<70):
    print("Grade=C")
elif(avg>=50)and(avg<60):
    print("Grade=D")
else:
  print("Grade=Fail")#Grade_printing

Enter the name :anjana
Enter the English mark :50
Enter the Maths mark :60
Enter the Physics mark :88
Enter the Chemistry mark :63
Enter the  Biology mark :45
Total mark is : 306.0
The avg mark is 61.2
Grade=C

In [ ]:
#electricity
a=str(input("Enter the consumer name :"))
unit=float(input("Enter the unit :"))
if(unit<=40):
  amount=unit*1.50
  print("amount=", amount)
elif(unit<=50):
  amount=unit(unit-40)*3.15
  print("amount=",amount)
elif(unit<=100):
  amount=unit(unit-50)*3.95
  print("amount=", amount)
else:
  amount=unit(unit-100)
print("")

Enter the consumer name :Anjana
Enter the unit :40
amount= 60.0

In [ ]:
#Determine the Season Based on Month:

month = int(input("Enter the month (1-12): "))
if 3 <= month <= 5:
 season = "Spring"
elif 6 <= month <= 8:
 season = "Summer"
elif 9 <= month <= 11:
 season = "Autumn"
else:
 season = "Winter"

print("The season is", season)

Enter the month (1-12): 8
The season is Summer

In [ ]:
#Calculate the Discount on a Purchase:

total_price = float(input("Enter the total price: "))
if total_price > 100:
 discount = total_price * 0.10
else:
 discount = 0

final_price = total_price - discount
print("Discount: $", discount)
print("Final Price: $", final_price)

Enter the total price: 60
Discount: $ 0
Final Price: $ 60.0

In [ ]:
#Check if a Number is Prime:

num = int(input("Enter a number: "))
if num<=1:
  print("not a prime number")
  for i in range(2, num):
   if (num % i) == 0:
      print(num, "is not a prime number")
      break
  else:
   print(num, "is a prime number")
else:
 print(num, "is not a prime number")

Enter a number: 5
5 is not a prime number

In [ ]:
#list
name="python programming"
print(name)
print(name[-9:-3])
print(name[::-3])

python programming
ogramm
gmrrnt

In [ ]:
#Dictionary
dict={'name': 'anjana', 'age':22}

In [ ]:
a=10
print(type(a))
s=str(a)
print(s)

<class 'int'>
10

In [ ]:
#Type conversion
mylist=["Anjana", 22, "A", "a", 30000 ]
print(type(mylist))
s=tuple(mylist)
print(s)

<class 'list'>
('Anjana', 22, 'A', 'a', 30000)

In [ ]:
#Loop Concept
count=1
while(count<50):
  print("The Count Value Is :", count)
  count=count+1
print("Hello")

The Count Value Is : 1
The Count Value Is : 2
The Count Value Is : 3
The Count Value Is : 4
The Count Value Is : 5
The Count Value Is : 6
The Count Value Is : 7
The Count Value Is : 8
The Count Value Is : 9
The Count Value Is : 10
The Count Value Is : 11
The Count Value Is : 12
The Count Value Is : 13
The Count Value Is : 14
The Count Value Is : 15
The Count Value Is : 16
The Count Value Is : 17
The Count Value Is : 18
The Count Value Is : 19
The Count Value Is : 20
The Count Value Is : 21
The Count Value Is : 22
The Count Value Is : 23
The Count Value Is : 24
The Count Value Is : 25
The Count Value Is : 26
The Count Value Is : 27
The Count Value Is : 28
The Count Value Is : 29
The Count Value Is : 30
The Count Value Is : 31
The Count Value Is : 32
The Count Value Is : 33
The Count Value Is : 34
The Count Value Is : 35
The Count Value Is : 36
The Count Value Is : 37
The Count Value Is : 38
The Count Value Is : 39
The Count Value Is : 40
The Count Value Is : 41
The Count Value Is : 42
The Count Value Is : 43
The Count Value Is : 44
The Count Value Is : 45
The Count Value Is : 46
The Count Value Is : 47
The Count Value Is : 48
The Count Value Is : 49
Hello

In [ ]:
#Even numbers
count=2
while(count<=50):
  print("even number :", count)
  count=count+2

even number : 2
even number : 4
even number : 6
even number : 8
even number : 10
even number : 12
even number : 14
even number : 16
even number : 18
even number : 20
even number : 22
even number : 24
even number : 26
even number : 28
even number : 30
even number : 32
even number : 34
even number : 36
even number : 38
even number : 40
even number : 42
even number : 44
even number : 46
even number : 48
even number : 50

In [ ]:
#Multiplication table
table_number=int(input("Enter the number"))
count=1
while(count<=10):
  Result=count*table_number
  print(count, "*", table_number, "=", Result)
  count=count+1

Enter the number5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [ ]:
#Sum of even numbers
Even_sum=int(input("Enter the number:"))
count=0
sum=0
while(count<11):
 if count%2==0:
  sum=sum+count
 count+=1
print(" The sum of all even number is",sum)

Enter the number:10
 The sum of all even number is 30

In [ ]:
#Product of the even number
Even_prod=int(input("Enter the number: "))
count=1
prod=1
while(count<Even_prod):
  if count%2==0:
    prod=prod*count
  count+=1
print("The product of all even number", prod)

Enter the number: 10
The product of all even number 384

In [ ]:
#Sum of all natural numbers
a=int(input("Enter the number: "))
sum=0
num=1
while(num<a):
  sum+=num
  num+=1
print("The sum is", sum)

Enter the number: 15
The sum is 105

In [ ]:
#Determine the season based on month
month=int(input("Enter the month (1-12)"))
if month>=3 and month<=5:
  season="Spring"
elif month>=6 and month<=8:
  season="Summer"
elif month>=9 and month<=11:
  season="Autumn"
else:
  season="Winter"
print("The season is", season)

Enter the month (1-12)6
The season is Summer

In [ ]:
#Dressing for the weather
temp=float(input("Enter the current temparature:"))
if temp>=70:
  print("Wear shots and shirt")
elif temp>=50 and temp<=69:
  print("Wear jeans and light jacket")
elif temp<=50:
  print("Wear heavy coats and warm pants")
else:
  print("")

Enter the current temparature:70
Wear shots and shirt

In [ ]:
#Check if a year is a leap year
leap_year=int(input("Enter the year:"))
if leap_year%4==0 or leap_year%100==0 and leap_year%400==0:
  print("The year is leap year")
else:
  print("The year is not a leap year")

Enter the year:1999
The year is not a leap year

In [ ]:
#Check if a number is positive, negative or zero
a=int(input("Enter the value:"))
if a>=1:
  print("Positive number")
elif a<0:
  print("Negative number")
elif a==0:
  print("Zer0")
else:
  print("Invalid ")

Enter the value:-5
Negative number

In [ ]:
#Factorial of number
Fact=int(input("Enter the number: "))
count=6
fact=1
while(count>0):
  fact*=count
  count=count-1
print("The factorial is ", fact)

Enter the number: 4
The factorial is  720

In [ ]:
#Sum of digits
Digit=int(input("Enter the number: "))
sum=0
while(Digit>0):
  digit=Digit%10 # % modulo operator it gives the remainder
  sum+=digit
  Digit//=10
print( "The sum of digit is", sum)

Enter the number: 45
The sum of digit is 9

In [ ]:
#break
count=1
while(count<11):
  if count==5:
    break
  print(count)
  count+=1

1
2
3
4

In [ ]:
#Continue
var=10
while var>0:
  var=var-1
  if var==5:
    continue
  print("current value is:", var)
print("Thanku ")

current value is: 9
current value is: 8
current value is: 7
current value is: 6
current value is: 4
current value is: 3
current value is: 2
current value is: 1
current value is: 0
Thanku

In [ ]:
#Pass
var=5
while var>1:
 var=var-1
 if var==4:
  pass
 print("current value is:", var)
print("Thanku")

current value is: 4
current value is: 3
current value is: 2
current value is: 1
Thanku

In [ ]:
#For loop
my_list=["Anjana", 22, "Changaramkulam"]
for i in my_list:
  print(i)

Anjana
22
Changaramkulam

In [ ]:
#fact using factorial
Fact=int(input("enter the number:"))
fact=1
for i in range(1,Fact+1):
 fact=fact*i
print(fact)

enter the number:4
24

In [ ]:
#Reverse a list
original_list=["Anjana", 22, "Changaramkulam"]
reversed_list=[]
for i in original_list:
  reversed_list.insert(0,i)
print("original_list:", original_list)
print("revered_list:", reversed_list)

original_list: ['Anjana', 22, 'Changaramkulam']
revered_list: ['Changaramkulam', 22, 'Anjana']

In [ ]:
#Occurence of element
num_list=[1,4,2,4,2,3,4,3,4,3,]
count={}
dict={}
for i in num_list:
  if (i==count):
    count=count+1
    dict=num_list
 print(i,":",count )

3 : {}

In [ ]:
#Palindrome
def is_palindrome(input):
  new_input = str(input)
  reversed_input = new_input[::-1]
  print(reversed_input)
  return reversed_input == new_input

if __name__ =='__main__':
  number_to_check = 121
  if is_palindrome(number_to_check):
    print("is palindrome")
  else:
    print("is not a palindrome")

121
is palindrome

In [ ]:
#Automorphic
num=int(input("Enter the number:"))
sq=num*num
if(num%10==sq%10):
   print("it is automorphic")
else:
  print("it is not automorphic")

Enter the number:5
it is automorphic

In [ ]:
# Trimorphic
num=int(input("Enter the number:"))
sq=num*num
cube=sq*num
if(cube%10==num):
   print("it is trimorphic")
else:
  print("it is not trimorphic")

Enter the number:74
it is not trimorphic

In [ ]:
#Automorphic and Triomorphic
num=int(input("Enter the number:"))
square=num**2
cube=num**3
smod=pow(10,len(str(num)))
cmod=pow(10,len(str(num)))
if square%10==num:
  print("Automorphic")
else:
  print("Not Automorphic")
if cube%10==num:
  print("Trimorphic")
else:
  print("Not Trimorphic")

Enter the number:74
Not Automorphic
Not Trimorphic

In [ ]:
#Check whether the triangle is rightangled triangle or not
s1=int(input("Enter the input:"))
s2=int(input("Enter the input:"))
s3=int(input("Enter the input:"))
s1=s1**2
s2=s2**2
s3=s3**2
if s1==s2+s3 or s2==s1+s3 or s3==s1+s2:
  print("It is rightangled triangle")
else:
  print("Not a rightangled triangle")

Enter the input:8
Enter the input:6
Enter the input:10
It is rightangled triangle

In [ ]:
#Calculator program
i=float(input("Enter the input:"))
j=float(input("Enter the input: "))
print("Operation:")
print("1.Add")
print("2.Substract")
print("3.Multiply")
print("4.Divide")
k=int(input("Enter the operation (1-4) :"))
if k==1:
  k1=i+j
  print("sum=:", k1)
elif k==2:
  k2=i-j
  print("Difference:", k2)
elif k==3:
  k3=i*j
  print("Product :", k3)
elif k==4:
  k4=i/j
  print("Quotient:". k4)
else:
  print("Invalid output")

Enter the input:5
Enter the input: 3
Operation:
1.Add
2.Substract
3.Multiply
4.Divide
Enter the operation (1-4) :2
Difference: 2.0

In [ ]:
#Inbuilt method of string len(), upper(), lower(), capitalise(), count(), replace(), split()
my_string="anjana subramanian, anjana, anjana, hello"
print(len(my_string))
print(my_string.upper())
print(my_string.lower())
print(my_string.capitalize())
count=my_string.count("anjana")
print(count)
new_string=my_string.replace("hello", "hi")
print(new_string)
new_one=my_string.split(",")
print(new_one)

41
ANJANA SUBRAMANIAN, ANJANA, ANJANA, HELLO
anjana subramanian, anjana, anjana, hello
Anjana subramanian, anjana, anjana, hello
3
anjana subramanian, anjana, anjana, hi
['anjana subramanian', ' anjana', ' anjana', ' hello']

In [ ]:
#List inbuiltmethod append(), extend(), insert(), remove(), pop(), index(), count(), sort(), reverse(), clear(),des()
my_list=[22, 40, 50, 17]
my_list.append(75)
print(my_list)
my_list.insert(0,23)
print(my_list)
my_list.remove(22)
print(my_list)
my_list.pop()
print(my_list)
my_list.pop(1)
print(my_list)
list=[2, 4, 5, 7]
s=list.index(2)
print(s)
l=[2,1,3,3,5]
k=l.count(2)
print(k)
list.sort()
print(list)
my_list.reverse()
print(my_list)
my_list.clear()
print(my_list)
list.clear()
print(list)

[22, 40, 50, 17, 75]
[23, 22, 40, 50, 17, 75]
[23, 40, 50, 17, 75]
[23, 40, 50, 17]
[23, 50, 17]
0
1
[2, 4, 5, 7]
[17, 50, 23]
[]
[]

In [ ]:
#while loop vowels
s=str(input("Enter the string:"))
count=0
i=0
vowels="aeiouAEIOU"
while count<len(s):
  #if  i in vowels:
  print (s[count])
  count=count+1

Enter the string:hello
h
e
l
l
o

In [ ]:
#Count te vowels using for loop
s = str(input("Write your word here: "))
count=0
vowels='aeiou'
for i in s:
    if i in 'aeiou':
      print(i)
      count=count+1
print("No of vowels is ",count,end=" ")

Write your word here: ice pop
i
e
o
No of vowels is  3

In [ ]:
#count consonant using for loop
s=str(input("Enter the word:" ))
count=0
for i in s:
  if i not in 'aeiou':
    print(i)
    count=count+1
print("No of constant is:", count)

Enter the word:ice pop
c

p
p
No of constant is: 4

In [ ]:
#remove vowels
s=str(input("Enter the word:"))
new_s=""
count=0
for i in s:
  if i not in'aeiou':
    new_s=new_s.replace(i,"")
    count=count+1
    print(i,end="")

Enter the word:malayalam
mlylm

In [ ]:
#remove duplicate elements in string

my_str = input("Enter the elements:").split(" ")
my_list = []

for i in my_str:
  if i not in my_list:
    my_list.append(i)
print(my_list)

Enter the elements:hello hei hello
['hello', 'hei']

In [ ]:
#remove duplicate elements from list
list=[2,3,4,5,5,2]
print("The original is: ",list)
new_list=[]
for i in list:
  if i not in new_list:
    new_list.append(i)
print("The after removing the duplicates :",new_list)

The original is:  [2, 3, 4, 5, 5, 2]
The after removing the duplicates : [2, 3, 4, 5]

In [ ]:
#Set unbuilt methods

myset={1,2,3,4}
myset.add(0)
print(myset)

myset.update({-1})
print(myset)

myset.remove(0)
print(myset)

myset.discard(-1)
print(myset)

myset.pop()
print(myset)

myset.clear()
print(myset)

set1={1,2,3}
set2={3,4,5}

{0, 1, 2, 3, 4}
{0, 1, 2, 3, 4, -1}
{1, 2, 3, 4, -1}
{1, 2, 3, 4}
{2, 3, 4}
set()

In [ ]:
# 1. write a python program to output welcome to python

print("Welcome to python")

Welcome to python

In [ ]:
# 2. write a python program to declare multiple variables in a single line


var1, var2, var3= "Hello", 22, "kochi"
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: Hello
var2: 22
var3: kochi

In [ ]:
# 3.  write a python program with legal and illegal variables

#legal variables

my_name="Anjana"
myage=22
my_place="Edappally"


print("my_name:", my_name)
print("myage:",myage)
print("my_place:",my_place)

#illegal variables

2nd_name="priya"
my-height=153 cm
is student=True

SyntaxError: ignored

In [ ]:
 # 4. write a python program to combine two variables


first_name="Anjana"
second_name="Subramanian"

full_name=first_name +" " + second_name
print("Full_name:", full_name)

Full_name: Anjana Subramanian

In [ ]:
# 5.  write a program to get the data type of an object


variable="Anjana"
data_type=type(variable)
print("The data type of object:", data_type)

The data type of object: <class 'str'>

In [ ]:
# 6. write a program to input multiline strings

multiline=input("Enter the string:")

In [ ]:
 # 7. write a program to convert one data type into other

int_var=22
str_var="333"

float_var=float(int_var)
print("Convert integer to float:", float_var)

int_var=int(str_var)
print("convert string into integer:",int_var)

Convert integer to float: 22.0
convert string into integer: 333

In [ ]:
# 8. write a program to input a string

user_input=input("Enter the string:")
print("Entered string:", user_input)

Enter the string:Anjana
Entered string: Anjana

In [ ]:
# 9. str2=''communication" then find

str='communication'
print(str[0])
print(str[1])
print(str[-1])
print(str[-4])
print(str[2:12:3])
print(str[3:9:2])
print(str[::3])
print(str[::2])
print(str[::-2])
print(str[::-1])

c
o
n
t
mnao
mnc
cmitn
cmuiain
niaiumc
noitacinummoc

In [ ]:
# 10. write a program to generate random numbers

import random

number=(1 - 10)
print("random_num:",number)

random_num: -9

In [ ]:
# 11. Write a python program to use the isalnum method


user_input=input("Enter the string:")

if user_input.isalnum():
  print(print("The string contains only alphanumeric characters."))
else:
  print("The string not  contains alphanumeric characters.")

Enter the string:Anjana
The string contains only alphanumeric characters.
None

In [ ]:
 # 12. convert a string to a lower

user_input=input("Enter the string:")

lower_case=user_input.lower()
print("original string:", user_input)
print("lower case string:", lower_case)

Enter the string:AnjanA
original string: AnjanA
lower case string: anjana

In [ ]:
# 13. Write a python program to use capitalize method

user_input=input("Enter the string:")

capitalised_string=user_input.capitalize()
print("original string:", user_input)
print("Capitalised string:", capitalised_string)

Enter the string:anjana
original string: anjana
Capitalised string: Anjana

In [ ]:
# 14. remove white spaces from the begging of a string

user_input=input("Enter the string:")
user_input.lstrip()
print(user_input)

Enter the string:  python
  python

In [ ]:
# 15. Write a python program to use ends with the method

string="hello world"

x=string.endswith("world")
print(x)

True

In [ ]:
# 16. write a program to check whether a certain character or phrase is present in a string or not

string="hello world"
x="world"

if x in string:
  print(" the string contain the phrase", x)
else:
  print(" the string not contain the phrase", x)

 the string contain the phrase world

In [ ]:
# 17. write a program to find the length of a string

user_input=("Enter the string:")
string_length=len(user_input)

print("the length of the string:",string_length)

the length of the string: 17

In [ ]:
# 18. write a program to split the strings into substrings

user_input=input("Enter the string:")

string=user_input.split()
print(" string:", string)

Enter the string:anjana subramanian
 string: ['anjana', 'subramanian']

In [ ]:
# 19. Write a python program to use the case fold method

user_input=input("Enter the string:")

casefold_string=user_input.casefold()
print("casefold_string:", casefold_string)

Enter the string:HELLO iam Anjana
casefold_string: hello iam anjana

In [ ]:
# 20. write a program to replace a string with other

string="Welcome to python"

to_replace='python'
replacement='space'

new_string=string.replace(to_replace,replacement)
print("String after the replacemnt:",new_string)

String after the replacemnt: Welcome to space

In [ ]:
# 21. Get the characters from index 2 to index 4  txt = "Welcome to python"


txt="Welcome to python"
print(txt[2:5])

lco

In [ ]:
# 22.  Return the string without any whitespace at the beginning of the end. txt = " Welcome to python "

txt= " Welcome to python "
txt.lstrip()
print(txt)

 Welcome to python

In [ ]:
# 23. Using the type() function assign the type of the variable to answer_1, then print it.

variable=22
answer_1=type(variable)
print("Type of example_variable:", answer_1)

Type of example_variable: <class 'int'>

In [ ]:
# 24. men_stepped_on_the_moon=12 answer_1= print(answer_1)

men_stepped_on_the_moon=12

answer_1=type(men_stepped_on_the_moon)
print("Type of men_stepped_on_the_moon:",answer_1)

Type of men_stepped_on_the_moon: <class 'int'>

In [ ]:
# 25.

str="It's always darkest before dawn."

modified_str=str.replace('.', '!')
print("Modified String:", modified_str)

Modified String: It's always darkest before dawn!

In [ ]:
# 27. Reassign str so that, all its characters are lowercase

str="EVERY Strike Brings Me Closer to the Next Home run."

lowercase_str=str.lower()
print("Lower case String:", lowercase_str)

Lower case String: every strike brings me closer to the next home run.

In [ ]:
# 28. Make the string so that everything is properly and the first letter is capital "

str1=" there are no traffic JamS Along with The extra "
capitalised_str=str1.title()
print(capitalised_str)

 There Are No Traffic Jams Along With The Extra

In [ ]:
# 29. What is the length of the given string? str="1.975.000"


str="1.975.000"

string_length=len(str)
print("Length of the string:",string_length)

Length of the string: 9

In [ ]:
# 30. write a program To check whether a character is a numeric character or not,

user_input=input("Enter a character:")
if user_input.isnumeric():
    print("user_input is  character is numeric")
else:
    print("is not a numeric character")

Enter a character:malayalam
is not a numeric character

In [ ]:
# 31. write a python program using the not in operator

string="python programming"
new_string=" Robot"

if new_string not in string:
    print("The new_string is not present in the string")
else:
    print("The new_string  is present in the  string")

The new_string is not present in the string

In [ ]:
# 32. Print the types of two given variables with the print function.

v_1="1"
v_2="1"

var1_type=type(v_1)
var2_type=type(v_2)
print("Type of variables =", var1_type)
print("Type of variables =", var2_type)

Type of variables = <class 'str'>
Type of variables = <class 'str'>

In [ ]:
# 33.  Perform comparison operations
X=5
Y=6
if X<=Y:
  print("Y is greator than X")
elif X>=Y:
  print("X is greator than Y ")
elif X==Y:
  print("X and Y values are equal")
else:
  print("invalid ")

Y is greator than X

In [ ]:
# 34.  write a python program using is the operator.

a=5
b=5
if (a is b):
  print(True)

True

In [ ]:
# 35. write a python program using is not operator

X="anjana"
Y="anjna"

if X is not Y:
  print(True)
else:
  print(False)

True

In [ ]:
# 35. X=10 Y=3 Print X+y X X*y X//y X**y

X=10
Y=3

print(X+Y)
print(X)
print(X*Y)
print(X//Y)
print(X**Y)

13
10
30
3
1000

In [ ]:
# 36. Print 1-500 using while loops

i=1
while i<=500:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500

In [ ]:
# 37. Write a program using the if,elif, and else statement


a1=int(input("Enter the value:"))
a2=int(input("Enter the value:"))


if a1>a2:
  print("a1 is greator")
elif a1<a2:
  print("a2 is greator")
else:
  print("Both are equal")

Enter the value:22
Enter the value:54
a2 is greator

In [ ]:
# 38. Use continue statement in while loops

i=1
while i<=10:
  i+=1
  if i==4:
   continue
  print(i)

2
3
5
6
7
8
9
10
11

In [ ]:
# 39. Use break statement in while loops

i=1
while i<=10:
  if i==8:
    break
  print(i)
  i+=1

1
2
3
4
5
6
7

In [ ]:
# 40.  create a list with

X=['apple','banana','cherry','grapes','kiwi','tomato','mango','orange','banana',True ,False,10,20,10.5]

print(X[0])
print(X[5])
print(X[-1])
print(X[-2])
print(X[3:10])
print(X[2:11])
print(X[::9])
print(X[4::])
print(X[2:10:2])
print(X[1:11:3])
print(X[::3])
print(X[::-2])
print(X[::-1])

apple
tomato
10.5
20
['grapes', 'kiwi', 'tomato', 'mango', 'orange', 'banana', True]
['cherry', 'grapes', 'kiwi', 'tomato', 'mango', 'orange', 'banana', True, False]
['apple', True]
['kiwi', 'tomato', 'mango', 'orange', 'banana', True, False, 10, 20, 10.5]
['cherry', 'kiwi', 'mango', 'banana']
['banana', 'kiwi', 'orange', False]
['apple', 'grapes', 'mango', True, 20]
[10.5, 10, True, 'orange', 'tomato', 'grapes', 'banana']
[10.5, 20, 10, False, True, 'banana', 'orange', 'mango', 'tomato', 'kiwi', 'grapes', 'cherry', 'banana', 'apple']

In [ ]:
# 41.  write a python program to create a new list
# 42. write a program to retrieve the first item from a list
# 43. write a program to determine the length of a list



my_list=input("Enter the elements :").split()


first_item=my_list[0]
print("First item in the list:", first_item)

new_list=len(my_list)
print("Length of the list:", new_list)

Enter the elements :11, 12, 13, 1, 2
First item in the list: 11,
Length of the list: 5

In [ ]:
# 44. write a python program to change the first item in a list


my_list=[1,2,3,4,5]
my_list[0]=0
print("new_list:", my_list)

new_list: [0, 2, 3, 4, 5]

In [ ]:
# 45. write a python program using negative indexing
# 46. write a program to add a new item to the end of a list

my_list=[1,2,3,4]
print(my_list)
my_list.append(5)

print("new list",my_list)

[1, 2, 3, 4]
new list [1, 2, 3, 4, 5]

In [ ]:
# 47. create a list and display the list in reverse order

my_list=input("Enter the elements :").split()

reversed_list=my_list[::-1]
print("Reversed list", reversed_list)

Enter the elements :1, 2, 3, 4
Reversed list ['4', '3,', '2,', '1,']

In [ ]:
# 48. write a program to find the maximum value in a list

my_list=input("Enter the elements :").split()

max_value=max(my_list)
print("Maximum Value:", max_value)

Enter the elements :1, 2, 3, 4
Maximum Value: 4

In [ ]:
# 49. write a program to display the index of an element in a list

my_list=input("Enter the elements :").split()
element_in_list=input("Enter the element to find: ")
index=my_list.index(element_in_list)

if element_in_list in my_list:
  print("The index of element in the list:", index)
else:
  print("element is not in the list")

Enter the elements :1, 2, 3, 4, 5
Enter the element to find: 5
The index of element in the list: 4

In [ ]:
#  50. write a program to count the occurrence of an Element in a list

my_list=input("Enter the elements :").split()
element_in_list=input("Enter the element to count: ")
occurence=my_list.count(element_in_list)

print("The  element occurs  in the list:", occurence)

Enter the elements :11 2 4 11
Enter the element to count: 11
The  element occurs  in the list: 2

In [ ]:
# 51.  Based on a list of fruits, create a new list, containing only the fruits with the letter "a" in the name.

fruits=["apple", "orange", "avocado", "banana","cherri"]
new_list_of_fruit=[]

for i in fruits:
  if "a" in i:
    new_list_of_fruit.append(i)
print("Fruits with 'a':", new_list_of_fruit)

Fruits with 'a': ['apple', 'orange', 'avocado', 'banana']

In [ ]:
# 52.fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
#Based on a list of fruits, create a new list, Only accept items that are not "kiwi"


fruits = ["apple", "banana", "cherry", "kiwi", +"mango"]
new_list_of_fruits=[]

for i in fruits:
  if "kiwi" not in i:
    new_list_of_fruits.append(i)
print(new_list_of_fruits)

['apple', 'banana', 'cherry', 'mango']

In [ ]:
# 53. Based on a list of fruits, create a new list, Set the values in the new list to upper case

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

new_str=str(fruits)
new_str.upper()
print(new_str.upper())

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
# 54.create a list and iterate over the list

numbers=[1, 2, 3, 4, 5]

print("Iterating the list:")
for number in numbers:
    print(number)

Iterating the list:
1
2
3
4
5

In [ ]:
# 55.write a program using for loop with a break statement

numbers=[1, 2, 3, 4, 5]
print(numbers)
search_number=int(input("Enter a number to search:"))

for number in numbers:
  if number==search_number:
        print("search_number:", search_number)
        break
else:
  print("search_number not found in the list")

[1, 2, 3, 4, 5]
Enter a number to search:5
search_number: 5

In [ ]:
#56.write a program using for loop with a continue statement

for i in range(1, 11):
    if i%3==0:
        continue
    print(i)

1
2
4
5
7
8
10

In [ ]:
#57. write a program using range function with starting parameter and increment parameter

start_value=1
inc_value=2

for i in range(start_value, 20, inc_value):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#58. write a program to create a tuple
#59. write a program to get the length of a tuple
#60. write a program to return the data type of a tuple


my_tuple=('A','N', 'J','A', 'N', 'A', 22,2001)
print("Tuple:",my_tuple)
len_tuple = len(my_tuple)
print("Length of tuple:",len_tuple)
type_tuple=type(my_tuple)
print("Type of tuple:",type_tuple)

Tuple: ('A', 'N', 'J', 'A', 'N', 'A', 22, 2001)
Length of tuple: 8
Type of tuple: <class 'tuple'>

In [ ]:
# 61. create a tuple with items kiwi, orange, grapes, apple,  then add a new item (melon) to the first index
#62. write a program to append an item to the tuple

fruits_tuple=('kiwi', 'orange', 'grapes', 'apple')
print(fruits_tuple)

fruits_list=list(fruits_tuple)
fruits_list.insert(0, 'melon')
new_fruits_tuple = tuple(fruits_list)
print("new fruit tuple is:", new_fruits_tuple)

new_fruits_tuple=fruits_tuple + ('melon',)
print(new_fruits_tuple)

('kiwi', 'orange', 'grapes', 'apple')
new fruit tuple is: ('melon', 'kiwi', 'orange', 'grapes', 'apple')
('kiwi', 'orange', 'grapes', 'apple', 'melon')
()
()
()

In [ ]:
#63. write a  program to remove an item from a tuple

fruits_tuple=('kiwi', 'orange', 'grapes', 'apple')
print(fruits_tuple)

to_remove='kiwi'
new_fruits_tuple=()
for i in fruits_tuple:
  if i not in to_remove:
   print(new_fruits_tuple)

In [ ]:
#64. write a program to concatenate two tuples

tuple_1=(1,2,3)
tuple_2=('a','b','c')

concatenated_tuple=tuple_1 + tuple_2

print("Concatenated Tuple is :",concatenated_tuple)

Concatenated Tuple is : (1, 2, 3, 'a', 'b', 'c')

In [ ]:
#65.write a program to extract the values from a tuple into variables

my_tuple=(10,20,30)
print(my_tuple)

var1, var2, var3=my_tuple

print("Variable 1:", var1)
print("Variable 2:", var2)
print("Variable 3:", var3)

(10, 20, 30)
Variable 1: 10
Variable 2: 20
Variable 3: 30

In [ ]:
#66.  extract values from tuple using Asterix

In [ ]:
#67. count the number of occurrences of an item in a tuple


my_tuple=(1, 2, 3, 4, 2, 2, 5, 6, 2)

item_to_count=2
occurrences=my_tuple.count(item_to_count)
print("The item  occurs:", occurrences)

The item  occurs: 4

In [ ]:
#68. remove items from a tuple by using merge with +Character

my_tuple=(1, 2, 3, 4, 2, 2, 5, 6, 2)

In [ ]:
#69. slice a tuple using start-stop, step parameter

my_tuple=(1, 2, 3, 4, 2, 2, 5, 6, 2)
start_index=1
stop_index=5
step=2

slice_tuple=my_tuple[start_index:stop_index:step]
print(slice_tuple)

(2, 4)

In [ ]:
#70. slice a tuple with step parameter is negative


my_tuple=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

slice_tuple=my_tuple[::-1]
print("Sliced Tuple :", slice_tuple)

Sliced Tuple : (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
#71. returns a tuple with a jump every 3 times

my_tuple=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
# 72. find the maximum value in a tuple
# 73. Find min value in a tuple
# 74. find the sum of items in a tuple


my_tuple=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
max_value=max(my_tuple)
print("The maximum value in the tuple:", max_value)

min_value=min(my_tuple)
print("The minimum value in the tuple:", min_value)

sum_of_items=sum(my_tuple)
print("The sum of items in the tuple:",sum_of_items)

The maximum value in the tuple: 10
The minimum value in the tuple: 1
The sum of items in the tuple: 55

In [ ]:
# 75. write a program to find the index of an item


my_tuple = ('orange','apple','grape')
item_to_find = input("Enter the item: ")

if item_to_find in my_tuple:
  index = my_tuple.index(item_to_find)
  print(f"The idex of {item_to_find} is {index}")

AttributeError: ignored

In [ ]:
# 76. write a program to find the length of a set

my_set={10, 5, 8, 15, 2, 20}
length=len(my_set)

print("The length of the set:",length)

The length of the set: 6

In [ ]:
# 77. write a program to create a set
# 78. write a program to remove an item from the set using the remove method

my_set={1, 2, 3, 4, 5}
print("Set created:", my_set)

to_remove=3
my_set.remove(to_remove)
print("Set after removing",to_remove,":", my_set)

Set created: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [ ]:
# 79. write a program to add items from one set to another


set1={1, 2, 3}
set2={3, 4, 5}

set1.update(set2)
print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

In [ ]:
#80. write a program to join two sets

set1={1, 2, 3}
set2={3, 4, 5}
join_set=set1.union(set2)
print("Joined set:",join_set)

Joined set: {1, 2, 3, 4, 5}

In [ ]:
# 81 write a program to remove an item from the set using the discard method

my_set={1, 2, 3, 4, 5}
to_remove=3
my_set.discard(to_remove)
print("Set after removing",my_set)

Set after removing {1, 2, 4, 5}

In [ ]:
#82. write a program to add an item to a set

my_set={1, 2, 3, 4}
new_item=5
my_set.add(new_item)
print("old set:",my_set)

old set: {1, 2, 3, 4, 5}

In [ ]:
# 83. write a program using the symmetric difference method

In [ ]:
# 84. write a program using the intersection update method

set1={1, 2, 3, 4, 5}
set2={4, 5, 6, 7, 8}
set1.intersection_update(set2)
print(set1)

{4, 5}

In [ ]:
#85. Write a Python script to add a key to a dictionary

my_dict={'name': 'John', 'age': 25, 'city': 'New York'}
print("Original Dictionary:", my_dict)

my_dict['occupation']='Enginner'
print(my_dict)

Original Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}
{'name': 'John', 'age': 25, 'city': 'New York', 'occupation': 'Enginner'}

In [ ]:
# 86. Write a Python script to check whether a given key already exists in a dictionary.

my_dict={'name': 'John', 'age': 25, 'city': 'New York'}
key='age'
if key in my_dict:
  print("The key exists in the dictionary")
else:
  print("The key do not exists in the dictionary")

The key exists in the dictionary

In [ ]:
# Dictionairies
mydict={1:1,2:4,3:9,4:16}
print(mydict)
print(mydict[4]) #accses
mydict[1]=10 #update
print(mydict)

{1: 1, 2: 4, 3: 9, 4: 16}
16
{1: 10, 2: 4, 3: 9, 4: 16}

In [ ]:
# creating a dictionary

my_dict={'name': 'john' , 'age':30, 'city': 'new york' }

#accesing value
print(my_dict['name'])

#updating value
my_dict['age']=31
print(my_dict)

#adding a new key value pair
my_dict['occupation']='Enginner'
print(my_dict)

#deleting a key value
del my_dict['city']
print(my_dict)

#using key(), values(), items()
key_list=my_dict.keys()
value_list=my_dict.values()
item_list=my_dict.items()

print(key_list)
print(value_list)
print(item_list)

#using get()
value=my_dict.get('age', 'N/A')
print(value)

value=my_dict.get('salary','N/A')
print(value)

#using pop()
removed_value=my_dict.pop('age')
print(removed_value)
print(my_dict)

#using popitem()

removed_item=my_dict.popitem()
print(removed_item)
print(my_dict)

#using clear()
my_dict.clear()
print(my_dict)

#using update()
my_dict.update({'country':'USA', 'age':30})
print(my_dict)

john
{'name': 'john', 'age': 31, 'city': 'new york'}
{'name': 'john', 'age': 31, 'city': 'new york', 'occupation': 'Enginner'}
{'name': 'john', 'age': 31, 'occupation': 'Enginner'}
dict_keys(['name', 'age', 'occupation'])
dict_values(['john', 31, 'Enginner'])
dict_items([('name', 'john'), ('age', 31), ('occupation', 'Enginner')])
31
N/A
31
{'name': 'john', 'occupation': 'Enginner'}
('occupation', 'Enginner')
{'name': 'john'}
{}
{'country': 'USA', 'age': 30}

In [ ]:
 #write apython program to reverse the string

my_str=("hi", "hello", "python")
print("original string",my_str)
reversed=my_str[::-1]
print("Reversed list",reversed)

original string ('hi', 'hello', 'python')
Reversed list ('python', 'hello', 'hi')

In [ ]:
# write a program to shuffle elements of list in randomly
import random

my_list = input("enter the numbers:")
new_list = my_list.split()
print(f"The original list is {new_list}")
random.shuffle(new_list)
print(new_list)

enter the numbers:1 2 3 4
The original list is ['1', '2', '3', '4']
['3', '4', '2', '1']

In [ ]:
#how do you check if a key exists in dictionary

my_dict={'name': 'John', 'age': 25, 'city': 'New York'}
key='age'
if key in my_dict:
  print("The key exists in the dictionary")
else:
  print("The key do not exists in the dictionary")

The key exists in the dictionary

In [ ]:
#write a program to count the frequency of word in a text using dictionary
text=("hello iam python hello").split()
word_frequency={}
for word in text:
  if word  in word_frequency:
      word_frequency[word]+=1
  else:
    word_frequency[word]=1
print(word_frequency)

for key,value in word_frequency.items():
  print(f"Elements {key} occurences {value} times")

{'hello': 2, 'iam': 1, 'python': 1}
Elements hello occurences 2 times
Elements iam occurences 1 times
Elements python occurences 1 times

In [ ]:
# FUNCTION

Fact=int(input("Enter the number: "))

def factorial():
  i=1
  fact=1
  while i<=Fact:
    fact=fact*i
    i+=1
  print(fact)
factorial()

Enter the number: 5
120

In [ ]:
#LOCAL VARIABLE

def add():
  a=10
  b=10
  c=a+b
  print(c)
add()

20

In [ ]:
# GLOBAL VARIABLE

a=10
b=10
def add():
  c=a+b
  print(c)
add()

20

In [ ]:
# RETURN STATEMENT

def add():
 a = 10
 b = 20
 c = a+b
 return(c)
add()

30

In [ ]:
# PARAMETER PASSING 1. DEFAULT

def sum(a,b):
  c = a+b
  return(c)
sum(1,8)

9

In [ ]:
# 2. KEYWORD

def sum(a = 1,b = 2):
  c = a+b
  return(c)
sum()

3

In [ ]:
# 3. ARBITRARY ARGUMENT

def sum(*a):
  return(a)
sum(1,2,3,4)

(1, 2, 3, 4)

In [ ]:
# 4. REFERENCE PARAMETER

def sum(a):
  print(a)
s=1   #reference number
sum(s)

1

In [ ]:
# 5. KEYWORD PARAMETER

def sum(**x):
  print(x)
sum(name = "anjana", age = "22")

{'name': 'anjana', 'age': '22'}

In [ ]:
# Create a function to check if a string is palindrome or not

user_input = input("Enter the string: ")
reversed_string = ""

def palindrome():
  for char in user_input:
    reversed_string = char+reversed_string
  if reversed_string == user_input:
    print("palindrome")
  else:
   print("not palindrome")

palindrome()

Enter the string: anjana

UnboundLocalError: ignored

In [ ]:
# Write a function to find the longest word in the function

user_input = input("Enter the sentence: ").split()

def longest():
  longest_word = ""
  max_lenght = 0
  for word in user_input:
    if len(word)>max_lenght:
      longest_word = word
      max_lenght = len(word)
  print(f" The longest word in the sentence is: {longest_word}")

longest()

Enter the sentence: anjana subramanian
 The longest word in the sentence is: subramanian

In [ ]:
# Create a function to remove all even numbers from the list

user_input = input("Enter the numbers separated by space : ")
new_input = user_input.split()

def remove_even_no():
  numbers = []
  for i in new_input:
    num = int(i)
    numbers.append(num)

  filtered_numbers = []
  for j in numbers:
    if j%2!=0:
      filtered_numbers.append(j)
  print(f"The original list is :{numbers}")
  print(f"The filtered list is :{filtered_numbers}")

remove_even_no()

Enter the numbers separated by space : 1 2 3 4 5 6 7 8 9
The original list is :[1, 2, 3, 4, 5, 6, 7, 8, 9]
The filtered list is :[1, 3, 5, 7, 9]

In [ ]:
# Create a function to find the second largest number in the list

user_input = input("Enter the numbers separated by space : ")
new_input = user_input.split()

def find_second_largest():
  numbers = []
  for i in new_input:
    num = int(i)
    numbers.append(num)

  if numbers:
    sorted_numbers = sorted(numbers, reverse=True)

    if len(sorted_numbers)>1:
      second_largest = sorted_numbers[1]
  print(f"The sorted numbers in descending order: {sorted_numbers}")
  print(f"The second largest number is :{second_largest}")

find_second_largest()

Enter the numbers separated by space : 8 5 4 9
The sorted numbers in descending order: [9, 8, 5, 4]
The second largest number is :8

In [ ]:
# create a function to find the keys with the highest values in a dictionary.


def highest_key():
  my_dict = {'a':22, 'b':456, 'c':10, 'd':98}
  print(f"The original dictionary {my_dict} ")
  max_value = max(my_dict.values())
  max_key = []
  for k,v in my_dict.items():
    if v>=max_value:
      max_key.append(k)
  print(f"The key with highest value : {max_key}")
highest_key()

The original dictionary {'a': 22, 'b': 456, 'c': 10, 'd': 98}
The key with highest value : ['b']

In [ ]:
# Create a function to remove a key-value pair from a dictionary.

def remove_key_value_pair():
  my_dict = {'Name':'Anjana', 'Age':22, 'Course':'Python'}
  print(f"Original dictionary {my_dict}")
  key_to_remove = "Name"
  if key_to_remove in my_dict:
    removed_value = my_dict.pop(key_to_remove)
    print(f"The key-value pairs key {key_to_remove} and value {removed_value} is removed ")
  else:
    print(f"The key-value pair is not exist in the dictionary {my_dict}")
  print(f"Updated dictionary {my_dict}")
remove_key_value_pair()

Original dictionary {'Name': 'Anjana', 'Age': 22, 'Course': 'Python'}
The key-value pairs key Name and value Anjana is removed
Updated dictionary {'Age': 22, 'Course': 'Python'}

In [ ]:
# Temparature converter:
# write a python program that include function to convert temparature between celsuis and farenheit.

user_input = input("Select the temparature: \n1. celsuis to farenheit \n2. farenheit to celsuis \nEnter the choise (1/2)")
def converter():
 if user_input =='1':
    celsuis = float(input("Enter the temparature:"))
    farenheit = (celsuis*9/5)+32
    print(f"Converting celsuis {celsuis} to farenheit is {farenheit}")
 elif user_input =='2':
    farenheit = float(input("Enter the temparature:"))
    celsuis = (farenheit-32)*5/9
    print(f"Converting farenheit {farenheit} to celsuis is {celsuis}")
converter()

Select the temparature:
1. celsuis to farenheit
2. farenheit to celsuis
Enter the choise (1/2)2
Enter the temparature:78.3
Converting farenheit 78.3 to celsuis is 25.72222222222222

In [ ]:
# Write a program with function to:

# 1. find the maximum element in the list.

user_input = input("Enter the numbers separated by spaces:")
new_input = user_input.split()

def largest_number():
  numbers = []
  for i in new_input:
    num = int(i)
    numbers.append(num)
  if numbers:
    sorted_number = sorted(numbers, reverse=True)
  if len(numbers)>1:
    largest_number = sorted_number[0]
  print(f"The enterd elements in list: {numbers}")
  print(f"The list in descending order: {sorted_number}")
  print(f"The largest number: {largest_number}")
largest_number()

Enter the numbers separated by spaces:2 34 5 1 7
The enterd elements in list: [2, 34, 5, 1, 7]
The list in descending order: [34, 7, 5, 2, 1]
The largest number: 34

In [ ]:
#2.calculate the sum of all elements  in  the list.

user_input = input("Enter the numbers separeted by space:")
new_input = user_input.split()

def sum_of_elements():
  numbers = []
  for i in new_input:
    num = int(i)
    numbers.append(num)
  sum_of_elements = sum(numbers)
  print(f"The original list: {numbers}")
  print(f"The sum of elements in the list: {sum_of_elements}")
sum_of_elements()

Enter the numbers separeted by space:2 4 5 4
The original list: [2, 4, 5, 4]
The sum of elements in the list: 15

In [ ]:
#3. Remove duplicates from the list.

user_input = input("Enter the elements separeted by space:")
new_input = user_input.split()

def remove_duplicates():
  numbers = []
  for i in new_input:
    num = int(i)
    numbers.append(i)

  new_numbers = []
  for items in numbers:
    if items not in new_numbers:
      new_numbers.append(items)
  print(f"The original list: {numbers}")
  print(f"After removing the duplicates: {new_numbers}")
remove_duplicates()

Enter the elements separeted by space:4 5 2 3 4 1
The original list: ['4', '5', '2', '3', '4', '1']
After removing the duplicates: ['4', '5', '2', '3', '1']

In [ ]:
#.Word count : 1. Create a program that taken a sentence  as input and returns the count of each word in that sentence

user_input = input("Enter the sentence:")
new_input = user_input.split()

def count_word():
  word_count = {}
  for words in new_input:
    if words in word_count:
      word_count[words]+=1
    else:
      word_count[words]=1
  for word, count in word_count.items():
    print(f"{word}:{count}")
count_word()

Enter the sentence:hello python hei python
hello:1
python:2
hei:1

In [ ]:
 # 100. Create and call a function.

def add():
  a = 2
  b = 3
  c = a+b
  print(c)
add()

5

In [ ]:
# 101. create a function using the arbitrary argument.
def sum(*a):
  print(a)
sum(1,2,3,4)

(1, 2, 3, 4)

In [ ]:
#102. create a function using an arbitrary keyword argument.

def sum(**x):
  print(x)
sum(name = "anjana", age = "22")

{'name': 'anjana', 'age': '22'}

In [ ]:
#103. create a function with a return statement.
def mul():
  a=2
  b=2
  c = a*b
  return c
mul()

4

In [ ]:
#104. create a function with a default parameter value.
def sub(a,b):
  c =a-b
  return c
sub(2,1)

1

In [ ]:
# 91. Write a Python program to get the key, value, and item in a dictionary.

my_dict = {'a':22, 'b':20, 'c':'py', 'd':22}
#print("key value pairs:",my_dict)

for key, value in my_dict.items():
  print(f"key:{key}  value:{value}, items:({key},{value})")

key:a  value:22, items:(a,22)
key:b  value:20, items:(b,20)
key:c  value:py, items:(c,py)
key:d  value:22, items:(d,22)

In [ ]:
# 92.  print the value of the "model" key of the car dictionary using the get method

car = { "brand": "Ford", "model": "Mustang", "year": 1964 }
get_value = car.get("model")
print(f"The value of the model key :",{get_value})

The value of the model key : {'Mustang'}

In [ ]:
# 93. Change the "year" value from 1964 to 2020. in the above dictionary

car = { "brand": "Ford", "model": "Mustang", "year": 1964 }
car["year"] = 2000
print(f"After updating the value: {car}")

After updating the value: {'brand': 'Ford', 'model': 'Mustang', 'year': 2000}

In [ ]:
# 94. Write a Python program to remove a key from a dictionary

car = { "brand": "Ford", "model": "Mustang", "year": 1964 }
remove_key = "brand"
if remove_key in car:
  remove = car.pop(remove_key)
print(f"Removed key '{remove_key}' with value:", remove)
print("Updated car dictionary:", car)

Removed key 'brand' with value: Ford
Updated car dictionary: {'model': 'Mustang', 'year': 1964}

In [ ]:
# 95. create a dictionary using the dict constructor


my_dict = dict(brand="Ford",model="Mustang",year=1964)
print("Created dictionary:", my_dict)

Created dictionary: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# 96. write a program with a dictionary update method

car = { "brand": "Ford", "model": "Mustang", "year": 1964 }
add_values = {"color": "Black"}

car.update(add_values)
print("Updated car dictionary after updating:", car)

Updated car dictionary after updating: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Black'}

In [ ]:
# 97. write a program to remove the last inserted item from a dictionary

car = { "brand": "Ford", "model": "Mustang", "year": 1964,"color": "Black" }
item_to_remove = car.popitem()
print(f"After removing the last item :{car}")

After removing the last item :{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# 98. write a program to empty a dictionary
car = { "brand": "Ford", "model": "Mustang", "year": 1964,"color": "Black" }
empty_dict = car.clear()
print(car)

{}

In [ ]:
# 99. write a program to copy a dictionary

car = { "brand": "Ford", "model": "Mustang", "year": 1964,"color": "Black" }
copy_dict = car.copy()
print("Copied dictionary using copy method:", copy_dict)

Copied dictionary using copy method: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Black'}

In [ ]:
# 1. HW

def add(*n):
  s = 0
  for x in n:
    s = s+x
  return s
p = add(10,20,30)
print("sum is",p)
q = add(10,20,30,40,50)
print("sum is",q)
r = add(25.5,36.6,42.7,52.8)
print("sum is",r)

sum is 60
sum is 150
sum is 157.60000000000002

In [ ]:
# 2. Auto-trimorphic

num = int(input("Enter the number:"))
print(num)
sq = num*num
cube = sq*num
if num%10==sq%10:
  print("It is automorphic")
else:
  print("It is not automorphic")
if num%10==cube%10:
  print("it is trimorphic")
else:
  print("It is not trimorphic")

Enter the number:24
24
It is not automorphic
it is trimorphic

In [ ]:
# 3. bigest of 3 elif.py

num1 = int(input("Enter the num1:"))
num2 = int(input("Enter the num2:"))
num3 = int(input("Enter the num3:"))

if num1>num2 and num1>num3:
  big=num1
elif num2>num1 and num2>num3:
  big=num2
else:
  big=num3
print("The biggest number is:", big)

Enter the num1:5
Enter the num2:1
Enter the num3:9
The biggest number is: 9

In [ ]:
# 4. bigifelse.py

num1 = int(input("Enter the num1:"))
num2 = int(input("Enter the num2:"))

if num1>num2:
  big=num1
else:
  big=num2
print("Biggest number is: ", big)

Enter the num1:76
Enter the num2:77
Biggest number is:  77

In [ ]:
# 5. biglist.py

a = []
n = int(input("Enter the limit:"))
print("Enter the numbers:")

for i in range(0,n):
  num = int(input())
  a.append(num)
print(f"The list:{a}")

big = a[0]
for i in range(1,n):
  if a[i]>big:
    big = a[i]
print(f"The biggest element:{big}")

if big == a[0]:
  sbig = a[1]
else:
  sbig = a[1]

for i in range(0,n):
  if a[i]<big and a[i]>sbig:
    sbig = a[i]
print(f"The second largest element:{sbig}")

Enter the limit:3
Enter the numbers:
4
6
10
The list:[4, 6, 10]
The biggest element:10
The second largest element:6

In [ ]:
# 6. bignestedif.py

a = input("Enter the number:")
b = input("Enter the number:")
c = input("Enter the number:")

if a>b:
  if a>c:
    big = a
  else:
    big = c
else:
  if b>c:
    big = b
  else:
    big = c
print(f"Biggest element:{big}")

Enter the number:5
Enter the number:7
Enter the number:1
Biggest element:7

In [ ]:
#7. bigsimif.py

a = int(input("Enter a number"))
b = int(input("Enter a number"))
big = a
if a<b:
	big = b
print(f"Biggest is:{big}")

Enter a number14
Enter a number12
Biggest is:14

In [ ]:
# 8. block_selection.py

required_amenities = []
block_details = [{"School":True,"Gym":False,"Pool":False,"Hospital":True,"Store":False}]
amenities = {"School":False,"Gym":False,"Pool":False,"Hospital":False,"Store":False}
print("Enter your requirements: (1-required/0-not required)")

for x in amenities.keys():
  k = int(input(x))
  if k == 1:
   required_amenities.append(x)
print(required_amenities)

Enter your requirements: (1-required/0-not required)
School1
Gym0
Pool1
Hospital0
Store1
['School', 'Pool', 'Store']

In [ ]:
# 9. calculatorelif.py

print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division ")
print("5. Exponet")

choice = int(input("Enter your choice of operation :"))
a = int(input("Enter a number"))
b = int(input("Enter a number"))

if choice==1:
	result = a+b
elif choice==2:
	result = a-b
elif choice==3:
	result = a*b
elif choice==4:
	result = a/b
elif choice==5:
	result = a**b
else:
	print("Invalid choice!!!")
print(f"The result is: {result}")

1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Exponet
Enter your choice of operation :3
Enter a number4
Enter a number5
The result is, 20

In [ ]:
# 10. circularrightshift.py

a = []
n = int(input("Enter the limit:"))
print("Enter the elements:")

for i in range(0, n):
  num = int(input())
  a.append(num)
print(a)

b = [a[n-1]]+a[:n-1]
a = b
print(a)

Enter the limit:4
Enter the elements:
5
8
3
0
[5, 8, 3, 0]
[0, 5, 8, 3]

In [ ]:
# 11. defaultarg.py

def simple_interest(p,n,r = 0.25):
	i = p*r*n
	return i
i1 = simple_interest(5000,6,0.3)
print("Interest ",i1)
i2 = simple_interest(5000,6)
print("Interest ",i2)

Interest  9000.0
Interest  7500.0

In [ ]:
# 12. functionlist.py

def sum(no):
	print(type(no))
	s = 0
	for x in no:
		s = s+x
	return s
a = [10,20,30,40]
print(sum(a))
b = (25,36,49,64)
print(sum(b))
c = {25,50,75}
print(sum(c))

<class 'list'>
100
<class 'tuple'>
174
<class 'set'>
150

In [ ]:
# 13. functioninterestdefault.py


def simple_interest(p,t,r=5):
	i=p*r*t/100
	return i

principle_amount = int(input("Enter the principle amount : "))
time_period = int(input("Enter the time duration : "))
rate_of_interest = int(input("Enter the rate of interest : "))

i1 = simple_interest(principle_amount,time_period)
print("Interest : ",i1)
i2=simple_interest(principle_amount,time_period,rate_of_interest)
print("Interest : ",i2)

Enter the principle amount : 1000
Enter the time duration : 2
Enter the rate of interest : 5
Interest :  100.0
Interest :  100.0

In [ ]:
# 14. functionarguments.py


def sum(*n):
	print(type(n))
	s=0
	for x in n:
		s=s+x
	return s

#def add(p):
	#print(p*6)
#def avg(s):
	#print(s/5)
sm = sum(10,20,30,40)
add(sm)
sm = sum(25,36,45,78,52)
avg(sm)

<class 'tuple'>
600
<class 'tuple'>
47.2

In [ ]:
# 15. fun_arbitoryarg1.py

def my_function(*formal):
	print(type(formal))
	s = 0
	for x in formal:
		s=s+x
	print("Sum is ",s)
my_function(10,20)
my_function(10,20,30,40,50)
my_function(10.2,15.5,26.3)

<class 'tuple'>
Sum is  30
<class 'tuple'>
Sum is  150
<class 'tuple'>
Sum is  52.0

In [ ]:
# 16.fun_arbitoryarg.py

def my_function(*students):
	print(type(students))
	for x in students:
		print(x)

my_function("Kiran", "Manu", "Vinu")
my_function(10,20,30,40,50)

<class 'tuple'>
Kiran
Manu
Vinu
<class 'tuple'>
10
20
30
40
50

In [ ]:
# 17.  factorialsum.py

def sum(n):
  s = 0
  if n == 1:
    return 1
  s = n+sum(n-1)
  return s
no=int(input("Enter the number : "))
total = sum(no)
print(f"Sum  is {total}")

Enter the number : 3
Sum  is :6

In [ ]:
# 18. digitsumfun.py
no = int(input("Enter the number : "))


def  digit_sum(n):
	if n==0:
		return 0
	d = n%10
	s = d+digit_sum(n//10)
	return s
sum = digit_sum(no)
print("sum of digits : ",sum)

In [ ]:
# 19. contactbook.py

print("1.Add a contact ")
print("2.Delete a contact")
print("3.Edit a contact ")
print("4.Search a contact")
print("5.List all contacts")
print("6.Exit")
contactbook={}
choice=int(input("Enter your choice "))
while choice!=6:
	if choice==1:
		name=input("Enter the name : ")
		phno=int(input("Enter the phone number : "))
		contactbook[name]=phno
		print("1 contact added successfully")
	elif choice==2:
		name=input("enter the name of contact to delete :")
		contactbook.pop(name)
		print("1 contact deleted succefully")
	elif choice==3:
		name=input("enter the name of contact to edit :")
		phno=int(input("Enter the phone number : "))
		contactbook[name]=phno
		print("contact edited successfully")
	elif choice==4:
		name=input("enter the name :")
		print("Phone Number of ",name," : ",contactbook[name])
	elif choice==5:
		print("Name\t\t Phone Number")
		for x,y in contactbook.items():
			print(x,"\t\t",y)
	else:
		print("Invalid choice !!!")
	choice=int(input("Enter your choice "))

In [ ]:
# 20. dictionary.py

student.get("name") =>kiran
student.keys() =>[name,age,mark1,mark2]
student.values() =>["Kiran",25,76,85]
student.items()=[(name:"Kiran"),(age:25),(mark1:76),(mark2:85)]

student["name"]="Manu"
student["phone"]=958744123
student.update({"name":"Mohan"})
student.update({"Address":"Kottayam"})

student.pop("name")
student.popitems()
del student["name"]
del student
student.clear()
candidate=student.copy()
candidate=dict(student)
print(student) =>{name:kiran,age:25....}

In [ ]:
# 21. dicfunctions.py

bus={
	"Routeno":5,
	"Driver":"kiran",
	"Cleaner":"Manu",
	"points":["karamana","PMG","pattom"]
}

print(bus["Driver"])=>"Kiran"
print(bus.get("Driver")) =>"Kiran"
bus.keys()=>["Routeno","Driver","Cleaner","points"]
bus.values()=>[5,"Kiran","Manu",["karamana","PMG","Pattom"]]
bus.items()=>[{"Routeno":5},]
bus["color"]="Red"
bus.update("Fare")=1500
bus["Driver"]="Mohan"
bus.pop("fare")
bus.popitem()
del bus["Fare"]
del bus
bus.clear()

for x in bus:
	print(x)	=>Routeno Driver Cleaner points
for x in bus:
	print(bus[x])	=>5 kiran Manu ["karamana","PMG","Pattom"]

In [ ]:
# 22. dictionarydemo.py

contactlist = {}
n = int(input("Enter the number of contacts : "))
for i in range(1,n+1):
	name = input("Enter the contact name :")
	phno = int(input("Enter the phone number :"))
	contactlist[name] = phno
print("Keys")
for x in contactlist.keys():
	print(x)
print("Values")
for x in contactlist.values():
	print(x)
print("Keys-value pairs")
for x,y in contactlist.items():
	print(x,"-",y)

Enter the number of contacts : 1
Enter the contact name :anu
Enter the phone number :7363728916
Keys
anu
Values
7363728916
Keys-value pairs
anu - 7363728916

In [ ]:
# 23. dictnumber.py

numberNames={0:'Zero',1:'One',2:'Two',3:'Three',4:'Four',5:'Five',6:'Six',7:'Seven',8:'Eight',9:'Nine'}
positionvalues={0:'Ones',1:'Tens',2:'Humdreds',3:'Thousands',4:'Ten Thousands',5:'Lakhs',6:'Ten Lakhs',7:'Crore',8:'Ten Crores',9:'Hundred Crores'}
num=input("Enter any number")
result=''
l=len(num)-1
for ch in num:
	key=int(ch)
	value=numberNames[key]
	result=result + ' ' + value+' '+ positionvalues[l]
	l-=1
print("The number is : ",num)
print("The number Name is :",result)

Enter any number3000
The number is :  3000
The number Name is :  Three Thousands Zero Humdreds Zero Tens Zero Ones

In [ ]:
# 24. ebillelif.py

u=int(input("Enter the number of units consumed : "))
if u<=100:
	amount=u*0.5
elif u>100 and u<=150:
	amount=(100*0.5)+(u-100)*0.75
elif u>150 and u<=200:
	amount=(100*0.5)+(50*0.75)+(u-150)*1
else:
	amount=(100*0.5)+(50*0.75)+(50*1)+(u-200)*2
print("Amount to be paid : ",amount)

Enter the number of units consumed : 50
Amount to be paid :  25.0

In [ ]:
# 25. electrictybill_type.py

type=input("Enter the type of connection : ")
u=int(input("Enter the units consumed : "))
charge=0
if type=="domestic":
	if u<=100:
		charge=u*1
	elif u<150:
		charge=(100*1)+(u-100)*1.5
	elif u<=200:
		charge=(100*1)+(50*1.5)+(u-150)*2
	else:
		charge=(100*1)+(50*1.5)+(50*2)+(u-200)*3
elif type=="commercial":
	if u<=100:
		charge=u*3
	elif u<150:
		charge=(100*3)+(u-100)*4
	elif u<=200:
		charge=(100*3)+(50*4)+(u-150)*6
	else:
		charge=(100*3)+(50*4)+(50*6)+(u-200)*10
else:
	print("Invalid connection type ")
print("Tarriff	: ",charge)

Enter the type of connection : commercial
Enter the units consumed : 70
Tarriff	:  210

In [ ]:
# Phone book

print(" 1. Add contact")
print(" 2. Search contact")
print(" 3. Update contact")
print(" 4. Display number")
print(" 5. Delete number")
print(" 6. Exit")

phone_book = {}
choice = int(input("Enter the choice:"))
while choice!= 6:
  if choice==1:
    def add():
      name         = input("Enter the name: ")
      print(" You entered name is not  present in the", phone_book)
      phone_number = int(input("Enter the phone number: "))
      phone_book[name] = phone_number
      print(" 1 Contact added succesfully")
  elif choice==2:
    def search():
      name = input("Enter the search name :")
      if name in phone_book:
        print("The name is not present in the phone_book")
      print( "Name" , name)
      print("Phone number" , phone_number)
  elif choice==3:
    def update():
      name = input("Enter the name of contact to update :")
      phone_number = int(input("Enter the phone number : "))
      phone_book[name] = phone_number
  elif choice==4:
    def display():
      print(phone_book)
  elif choice==5:
    def delete():
      name = input("Enter the name of contact to delete :")
      phone_book.pop(name)
      print("1 contact deleted succefully")
  else:
    def exit():
      print("Invalid choice !!!")
  choice = int(input("Enter your choice: "))

 1. Add contact
 2. Search contact
 3. Update contact
 4. Display number
 5. Delete number
 6. Exit

In [ ]:
#  PART 1 :
#1. grade elif.py

m1=int(input("Enter the marks for physics: "))
m2=int(input("Enter the marks for chemistry: "))
m3=int(input("Enter the marks for maths: "))
p=(m1+m2+m3)*100/300
if p>=90:
	grade="A+"
elif p<90 and p>=80:
	grade="A"
elif p<80 and p>=70:
	grade="B+"
elif p<70 and p>=60:
	grade="B"
elif p<60 and p>=50:
	grade="C"
else:
	grade="Failed"
print("His grade is ",grade)

Enter the marks for physics: 50
Enter the marks for chemistry: 85
Enter the marks for maths: 65
His grade is  B

In [ ]:
# 2. gradenestedif.py

m1=int(input("Enter the marks for physics: "))
m2=int(input("Enter the marks for chemistry: "))
m3=int(input("Enter the marks for maths: "))
if m1>=50 and m2>=50 and m3>=50:
	p=(m1+m2+m3)*100/300
	if p>=90:
		grade="A+"
	elif p<90 and p>=80:
		grade="A"
	elif p<80 and p>=70:
		grade="B+"
	elif p<70 and p>=60:
		grade="B"
	else:
		grade="C"
else:
	grade="Failed"
print("His grade is ",grade)

Enter the marks for physics: 50
Enter the marks for chemistry: 75
Enter the marks for maths: 30
His grade is  Failed

In [ ]:
# 3. interestifelse.py

p=int(input("Enter principle amount: "))
n=int(input("Enter the duration in years: "))
if n>=10:
	r=12
else:
	r=8
i=p*r*n/100
print("Interest : ",i)

Enter principle amount: 50
Enter the duration in years: 2
Interest :  8.0

In [ ]:
# 4. list.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 5
Enter the elements :
8
8
6
4
0
List elements are :
8
8
6
4
0

In [ ]:
# 5. listbig.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
big=a[0]
for i in range(1,n):
	if a[i]>big:
		big=a[i]
print("Biggest : ",big)

Enter the number of elements : 3
Enter the elements :
2
3
4
Biggest :  4

In [ ]:
# 6. listbinarysearch.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements in ascending order : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
key=int(input("Enter the element to search : "))
l=0
u=n-1
while l<=u:
	mid=(l+u)//2
	if a[mid]==key:
		print(key,"found at index ",mid)
		break
	elif a[mid]>key:
		u=mid-1
	else:
		l=mid+1
else:
	print(key,"not in the list ")

Enter the number of elements : 3
Enter the elements in ascending order :
1
2
3
Enter the element to search : 3
3 found at index  2

In [ ]:
# 7.listcompr.py

a=[10,20,30,40]
b=[10,20,30,50]
if a==b:
	print("ok")
else:
	print("not ok")

not ok

In [ ]:
# 8 listcount.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
count=0
ele=int(input("Enter the element to count : "))
for x in a:
	if x==ele:
		count+=1
print(ele," occured ",count," times")

Enter the number of elements : 3
Enter the elements :
2
2
4
Enter the element to count : 2
2  occured  2  times

In [ ]:
# 9.listdelete.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
index=int(input("Enter the index : "))
for i in range(index,n-1):
	a[i]=a[i+1]
n=n-1
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 4
Enter the elements :
2
2
3
4
Enter the index : 1
List elements are :
2
3
4

In [ ]:
# 10. listduplicate.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
i=0
while i<n-1:
	j=i+1
	while j<n:
		if a[i]==a[j]:
			a.pop(j)
			n=n-1
		else:
			j+=1
	i+=1
print(a)

Enter the number of elements : 4
Enter the elements :
3
2
1
6
[3, 2, 1, 6]

In [ ]:
# 11.listduplicateset.py

a=[]
n=int(input("Enter the number of elements : "))
for i in range(0,n):
	k=int(input())
	a.append(k)
b=set(a)
a=list(b)
print(a)

Enter the number of elements : 3
7
3
8
[8, 3, 7]

In [ ]:
# 12. listelementcount.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
no=int(input("Enter the element to count : "))
count=0
for i in range(0,n):
	if a[i]==no:
		count+=1
if count==0:
	print(no," not in the list")
else:
	print(no," occured ",count," times")

Enter the number of elements : 4
Enter the elements :
2
1
3
6
Enter the element to count : 6
6  occured  1  times

In [ ]:
# 13. listeven.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
for i in range(0,n):
	if a[i]%2==0:
		print(a[i])

Enter the number of elements : 3
Enter the elements :
2
4
5
2
4

In [ ]:
# 14. listevensum.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
s=0
for i in range(0,n):
	if a[i]%2==0:
		s=s+a[i]
print("sum is : ",s)

Enter the number of elements : 3
Enter the elements :
4
6
8
sum is :  18

In [ ]:
# 15. listinsert.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
a.append(0)
element=int(input("Enter the element to insert"))
index=int(input("Enter the index : "))
for i in range(n,index,-1):
	a[i]=a[i-1]
a[index]=element
print("List elements are : ")
for i in range(0,n+1):
	print(a[i])

Enter the number of elements : 4
Enter the elements :
3
2
1
6
Enter the element to insert7
Enter the index : 0
List elements are :
7
3
2
1
6

In [ ]:
# 16. listinsertfun.py


a=[10,20,30,40,50,60,70]
b=[41,42,43]
a.insert(4,b)
print(a)
a.insert(6,65)
print(a)
print(len(a))

[10, 20, 30, 40, [41, 42, 43], 50, 60, 70]
[10, 20, 30, 40, [41, 42, 43], 50, 65, 60, 70]
9

In [ ]:
# 17.listinsertlist.py

a=[]
n= int(input("Enter the number of elements in first list: "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
b=[]
m= int(input("Enter the number of elements in second list : "))
print("Enter the elements : ")
for i in range(0,m):
	k=int(input())
	b.append(k)
	a.append(0)
index=int(input("Enter the index : "))
for i in range(n-1,index-1,-1):
	a[i+m]=a[i]
for i in range(0,m):
	a[index+i]=b[i]
print("List elements are : ")
for i in range(0,m+n):
	print(a[i])

Enter the number of elements in first list: 3
Enter the elements :
3
7
9
Enter the number of elements in second list : 2
Enter the elements :
9
0
Enter the index : 0
List elements are :
9
0
3
7
9

In [ ]:
# 18.listndelete.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
index=int(input("Enter the index : "))
dn=int(input("Enter the number of elements to be deleted : "))
for i in range(index+dn,n):
	a[i-dn]=a[i]
n=n-dn
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 3
Enter the elements :
6
3
1
Enter the index : 0
Enter the number of elements to be deleted : 1
List elements are :
3
1

In [ ]:
# 19. listoddeven.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
print("List elements are : ")
for i in range(0,n):
	print(a[i])
odd=[]
even=[]
for i in range(0,n):
	if a[i]%2==0:
		even.append(a[i])
	else:
		odd.append(a[i])
print("EVEN LIST")
for x in even:
	print(x)
print("ODD LIST")
for x in odd:
	print(x)

Enter the number of elements : 3
Enter the elements :
44
5
2
List elements are :
44
5
2
EVEN LIST
44
2
ODD LIST
5

In [ ]:
# 20.
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
s=0
for i in range(0,n):
	if a[i]%2!=0:
		s=s+a[i]
print("sum is : ",s)

Enter the number of elements : 3
Enter the elements :
55
41
12
sum is :  96

In [ ]:
# 21.listprime.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
print("prime numbers are : ")
for i in range(0,n):
	if a[i]==1:
		continue
	for j in range(2,a[i]):
		if a[i]%j==0:
			break
	else:
		print(a[i])

Enter the number of elements : 3
Enter the elements :
1
2
3
prime numbers are :
2
3

In [ ]:
# 22.listreverse.py
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
for i in range(0,n//2):
	t=a[i]
	a[i]=a[n-i-1]
	a[n-i-1]=t
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 3
Enter the elements :
5
2
3
List elements are :
3
2
5

In [ ]:
# 23.listsecbig.py

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
big=a[0]
for i in range(1,n):
	if a[i]>big:
		big=a[i]
i=0
while (1):
	if a[i]!=big:
		sbig=a[i]
		break
	i+=1
for i in range(i+1,n):
	if a[i]<big and a[i]>sbig:
		sbig=a[i]
print("Biggest : ",big)
print("2nd Biggest : ",sbig)

Enter the number of elements : 4
Enter the elements :
2
1
3
4
Biggest :  4
2nd Biggest :  3

In [ ]:
# 24. nesteddict.py

student1={"name":"arfan","place":"Manacaud","Blood Group":"O+"}

student2={"name":"Jovan","place":"Kollam","Blood Group":"O+"}

student3={"name":"Divya","place":"palayam","Blood Group":"A+"}

oneteam={"intern1":student1,"intern2":student2,"intern3":student3}

oneteam={"intern1":{"name":"arfan","place":"Manacaud","Blood Group":"O+"},"intern2":{"name":"Jovan","place":"Kollam","Blood Group":"O+"},"intern3":{"name":"Divya","place":"palayam","Blood Group":"A+"}}

In [ ]:
# 25. keywordarg.py

def add(a,b,c):
	return(a+b+c)
s=add(c=20,a=25,b=36)
print("Sum is ",s)

Sum is  81

In [ ]:
 # PART 3: 1. palindromefun.py

def reverse(n):
	rev=0
	while n!=0:
		d=n%10
		rev=(rev*10)+d
		n=n//10
	return rev
no=int(input("Enter a number : "))
r=reverse(no)
if no==r:
	print("Palindrome")
else:
	print("Not a palindrome")

Enter a number : 2
Palindrome

In [ ]:
# 2. quadeqifelse.py

a=int(input("Enter the coefficient of x^2 term : "))
b=int(input("Enter the coefficient of x term : "))
c=int(input("Enter the constant term : "))
x=b**2-(4*a*c)
if x>=0:
	print("Roots are real")
else:
	print("Roots are Imaginary")

Enter the coefficient of x^2 term : 4
Enter the coefficient of x term : 5
Enter the constant term : 2
Roots are Imaginary

In [ ]:
# 3. quadeqsimif.py

a=int(input("Enter the coefficient of x^2 term : "))
b=int(input("Enter the coefficient of x term : "))
c=int(input("Enter the constant term : "))
x=b**2-(4*a*c)
roots="Imaginary"
if x>=0:
	roots="Real"
print("Roots are ",roots)

Enter the coefficient of x^2 term : 5
Enter the coefficient of x term : 2
Enter the constant term : 1
Roots are  Imaginary

In [ ]:
# 5. reversefun.py

def reverse(n):
	rev=0
	while n!=0:
		d=n%10
		rev=(rev*10)+d
		n=n//10
	return rev
n=int(input("Enter a number : "))
#r=reverse(n)
print("Reverse of ",n," is ",reverse(n))

Enter a number : 5434
Reverse of  5434  is  4345

In [ ]:
# 6. righttriangle.py

a=int(input("Enter the measurement of 1st side"))
b=int(input("Enter the measurement of 2nd side"))
c=int(input("Enter the measurement of 3rd side"))
if a**2==b**2+c**2 or b**2==a**2+c**2 or c**2==a**2+b**2:
	print("Right traingle")
else:
	print("Not a right triangle")

Enter the measurement of 1st side6
Enter the measurement of 2nd side7
Enter the measurement of 3rd side8
Not a right triangle

In [ ]:
# 6.amstrong.py

n=input("Enter a number : ")
l=len(n)
n=int(n)
s=0
t=n
while n!=0:
	d=n%10
	s=s+d**l
	n=n//10
if t==s:
	print("Amstrong")
else:
	print("Not an amstrong")

Enter a number : 5
Amstrong

In [ ]:
# 7.b2d.py

b=int(input("Enter the binary number : "))
d=0
i=0
while b!=0:
	dig=b%10
	d=d+(dig*(2**i))
	i=i+1
	b=b//10
print("Decimal equalent is ",d)

Enter the binary number : 1110
Decimal equalent is  14

In [ ]:
# 8.bigdigit.py

n=int(input("Enter a number : "))
bd=0
while n!=0:
	d=n%10
	if d>bd:
		bd=d
	n=n//10
print("greatest digit ",bd)

Enter a number : 6
greatest digit  6

In [ ]:
# 9.factorssumfor.py

n=int(input("Enter the number : "))
s=0
for i in range(1,n+1):
	if n%i==0:
		s=s+i
print("Sum is ",s)

Enter the number : 55
Sum is  72

In [ ]:
#  10.sumsingledigit.py

n=int(input("Enter a number : "))
s=sum(int(i) for i in str(n))
print("Single digit sum = ",s%9 if s%9 else 9)

Enter a number : 54
Single digit sum =  9

In [ ]:
# 11.sumoddwhile.py

n=int(input("Enter the limit "))
i=1
s=0
while i<=n:
	s=s+i
	i=i+2
print("Sum is ",s)

Enter the limit 3
Sum is  4

In [ ]:
# 12.sumnaturalfor.py

n=int(input("Enter the limit"))
s=0
for x in range(1,n+1):
	s=s+x
print("Sum is ",s)

Enter the limit4
Sum is  10

In [ ]:
# 13.sumnaturalwhile.py

n=int(input("Enter the limit : "))
i=1
s=0
while i<=n:
	s=s+i
	i=i+1
print("Sum is ",s)

Enter the limit : 5
Sum is  15

In [ ]:
# 14.strongnumber.py

n=int(input("Enter a number: "))
temp=n
sum=0
while n!=0:
	d=n%10
	fact=1
	while d>1:
		fact*=d
		d-=1
	sum+=fact
	n=n//10
if sum==temp:
	print("Strong number")
else:
	print("Not a strong number")

Enter a number: 158746
Not a strong number

In [ ]:
#15.spynumber.py

n=int(input("Enter a number: "))
sum=0
product=1
while n!=0:
	d=n%10
	sum+=d
	product*=d
	n=n//10
if sum==product:
	print("Spy Number")
else:
	print("Not a spy number")

Enter a number: 22
Spy Number

In [ ]:
#Phonebook
def add():
  name=input("Enter the name :")
  ph_no=int(input("Enter the phone number :"))
  ph_book[name]=ph_no
  print("successfull")

def search():
  search=input("Enter the contact name to search :")
  if search in ph_book:
    search_contact=ph_book[search]
    print(search_contact)
  else:
    print("Contact is not present.")

def update():
  update=input("Enter the contact name to update :")
  ph_no=int(input("Enter the number :"))
  ph_book[update]=ph_no

def display():
  print(ph_book)

def delete():
  delete=input("enter the contact name to delete :")
  if delete in ph_book:
    confirm=input("do you want to delete contact y / n  :")
    if confirm=="Y" or confirm=="y":
      ph_book.pop(delete)
    else:
      print("name is not found")

print("1. Add contact\n2. Search contact\n3. Update\n4. Display\n5. Delete\n6. Exit")
ph_book={}
choice=int(input("Enter the choice :"))
while choice!=6:
  if choice==1:
    add()
  elif choice==2:
    search()
  elif choice==3:
    update()
  elif choice==4:
    display()
  elif choice==5:
    delete()
  else:
    print("invalid")
  choice=int(input("Enter your choice "))

1. Add contact
2. Search contact
3. Update
4. Display
5. Delete
6. Exit

In [ ]:
# RECURSION 1. Factorial

def factorial(x):
  if x==1:
    return 1:
  else:
    return (x*factorial(x-1))
num = 6
print("The factorial of " ,num, "is", factorial(num))

In [ ]:
c=0%10
print(c)

0

In [ ]:
string = "python exception"

for s in string:
  if (s!=o:
    print(s)

SyntaxError: ignored

In [ ]:
string = "python exception"

for  s in string:
  if (s!=o):
    print(s)

NameError: ignored

In [ ]:
a = ["apple","orange","banana"]